.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & .signin-container {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: start;
    justify-content: center;
    border: 0px #e5e5e5 solid;
    border-radius: 8px;

    box-shadow: 0px 0px 26px 0px rgba(1, 255, 73, 0.3);

    &__wrapper {
      margin-top: 50px;
    }
  }
}
